.idea/workspace.xml
.idea/tasks.xml

bin/
obj/
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
*.user
~$*

*.userprefs
*packages/*
*.nupkg
output/*

# idea conf files
.idea
*.iml
*.ipr
*.iws
